<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="logout-container">
        <h1>Logout</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <form id="logout-form" action="/users/logout" method="post">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        {% endif %}
        <div class = "go-to-menu-href">
            <a href="/menu">Go to menu</a>
        </div>

    </div>

    <script>
        function deleteCookie(name) {
            document.cookie = name + '=; Max-Age=0; path=/;';
        }

        document.getElementById('logout-form').addEventListener('submit', function(event) {
            event.preventDefault();

            fetch('/users/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'same-origin'
            })
            .then(response => {
                if (response.ok) {
                    deleteCookie('access_token');
                    window.location.href = '/';  // Redirect to home page
                } else {
                    alert('Logout failed!');
                }
            });
        });
    </script>
</body>
</html>